@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 
}



body {
  color: rgb(var(--foreground-rgb));
  /* max-width: 95vw; */
  margin: auto;
  background-color: #1F1B24;

  
}

.r3f{
    touch-action: none;
}